body { 
  background-color: white;
  margin: 0;
  zoom: 100%;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
html, body {
  -webkit-user-select: none;
  user-select: none;
}
a, img {
  -webkit-touch-callout: none;
}
a, img, input, select{
  -webkit-appearance: none;
}
.pages{
  height: 100%;
}
.page{
  background: white;
  width: 100%;
}
