{% extends "/base.html" %}

{% block content %}
<form>
  <div class="pages">
    <!--没有任何工具-->
    <div class="page" id="page-32">
      <div class="page-title">领取软尺</div>
      <div class="page-content">
        <div class="description">
          <p>填写地址，免费领取软尺。。。</p>
        </div>
        <a class="btn btn-left" href="#" onclick="pre_page('#page-30');">上一步</a>
        <a class="btn btn-right" href="#" onclick="next_page('#page-3');">提交</a>
      </div>
    </div>
    <div class="page" id="page-30">
      <div class="page-title">只有一根软尺</div>
      <div class="page-content">
        <div class="description">
          <p>也给我弄一件量身神器Body9吧</p>
          <p>太惨了吧! 填写你的地址, 小编免费送你软尺一根, 到付哦!</p>
        </div>
        <a class="btn btn-left" href="#" onclick="next_page('#page-3');">购买Body9 ！</a>
        <a class="btn btn-right"href="#" onclick="next_page('#page-32');">我要软尺 ！</a>
      </div>
    </div>
    <!--软尺测量-->
    <div class="page" id="page-22">
      <div class="page-title">软尺测量</div>
      <div class="page-content">
        <div class="description">
          <p>填写臀围读数。。。</p>
        </div>
        <a class="btn btn-left" href="#" onclick="pre_page('#page-21');">上一步</a>
        <a class="btn btn-right" href="#" onclick="next_page('#page-3');">生成我的身材报表</a>
      </div>
    </div>
    <div class="page" id="page-21">
      <div class="page-title">软尺测量</div>
      <div class="page-content">
        <div class="description">
          <p>填写臀围读数。。。</p>
        </div>
        <a class="btn btn-left" href="#" onclick="pre_page('#page-20');">上一步</a>
        <a class="btn btn-right" href="#" onclick="next_page('#page-22');">确认</a>
      </div>
    </div>
    <div class="page" id="page-20">
      <div class="page-title">只有一根软尺</div>
      <div class="page-content">
        <div class="description">
          <p>也给我弄一件量身神器Body9吧————销售渠道链接</p>
          <p>等不及了!自己动手丰衣足食。————转入软尺测量</p>
        </div>
        <a class="btn btn-left" href="#" onclick="next_page('#page-3');">购买Body9 ！</a>
        <a class="btn btn-right"href="#" onclick="next_page('#page-21');">继续软尺测量 ！</a>
      </div>
    </div>
    <!--Body9测量-->
    <div class="page" id="page-18">
      <div class="page-title">Body9测量</div>
      <div class="page-content">
        <div class="description">
          <p>填写腿围，腿长读数。。。</p>
        </div>
        <a class="btn btn-left" href="#" onclick="pre_page('#page-17');">上一步</a>
        <a class="btn btn-right" href="#" onclick="next_page('#page-3');">生成我的身材报表</a>
      </div>
    </div>
    <div class="page" id="page-17">
      <div class="page-title">Body9测量</div>
      <div class="page-content">
        <div class="description">
          <p>填写肩宽读数。。。</p>
        </div>
        <a class="btn btn-left" href="#" onclick="pre_page('#page-16');">上一步</a>
        <a class="btn btn-right" href="#" onclick="next_page('#page-18');">确认</a>
      </div>
    </div>
    <div class="page" id="page-16">
      <div class="page-title">Body9测量</div>
      <div class="page-content">
        <div class="description">
          <p>填写臂长读数。。。</p>
        </div>
        <a class="btn btn-left" href="#" onclick="pre_page('#page-15');">上一步</a>
        <a class="btn btn-right" href="#" onclick="next_page('#page-17');">确认</a>
      </div>
    </div>
    <div class="page" id="page-15">
      <div class="page-title">Body9测量</div>
      <div class="page-content">
        <div class="description">
          <p>填写臂围读数。。。</p>
        </div>
        <a class="btn btn-left" href="#" onclick="pre_page('#page-14');">上一步</a>
        <a class="btn btn-right" href="#" onclick="next_page('#page-16');">确认</a>
      </div>
    </div>
    <div class="page" id="page-14">
      <div class="page-title">Body9测量</div>
      <div class="page-content">
        <div class="description">
          <p>填写臀围读数。。。</p>
        </div>
        <a class="btn btn-left" href="#" onclick="pre_page('#page-13');">上一步</a>
        <a class="btn btn-right" href="#" onclick="next_page('#page-15');">确认</a>
      </div>
    </div>
    <div class="page" id="page-13">
      <div class="page-title">Body9测量</div>
      <div class="page-content">
        <div class="description">
          <p>我不废话，你已经很熟练了。</p>
          <p>填写腰围读数。。。</p>
        </div>
        <a class="btn btn-left" href="#" onclick="pre_page('#page-12');">上一步</a>
        <a class="btn btn-right" href="#" onclick="next_page('#page-14');">确认</a>
      </div>
    </div>
    <div class="page" id="page-12">
      <div class="page-title">Body9测量</div>
      <div class="page-content">
        <div class="description">
          <p>把配件尺的扣子按在红色按钮上，绕颈一圈，不是想不开就别勒太紧！</p>
          <p>填写颈围读数。。。</p>
        </div>
        <a class="btn btn-left" href="#" onclick="pre_page('#page-11');">上一步</a>
        <a class="btn btn-right" href="#" onclick="next_page('#page-13');">确认</a>
      </div>
    </div>
    <div class="page" id="page-11">
      <div class="page-title">Body9测量</div>
      <div class="page-content">
        <div class="description">
          <p>你现在可以出去跑一圈，或者立刻拿出配件尺开始测量你的各种围。</p>
        </div>
        <a class="btn btn-left" href="#" onclick="pre_page('#page-10');">上一步</a>
        <a class="btn btn-right" href="#" onclick="next_page('#page-12');">确认</a>
      </div>
    </div>
  	<div class="page" id="page-10">
      <div class="page-title">穿上Body9</div>
      <div class="page-content">
        <div class="description">
        	<p>穿上牛逼闪闪的Body9，对着镜子整理好它，像麻豆一样别让它拧巴着。</p>
        </div>
        <a class="btn btn-left" href="#" onclick="pre_page('#page-3');">上一步</a>
        <a class="btn btn-right" href="#" onclick="next_page('#page-11');">确认</a>
      </div>
  	</div>
  	<div class="page" id="page-3">
      <div class="page-title">选择你的量体工具</div>
      <div class="page-content">
        <div class="description">
        </div>
        <a class="btn" href="#" onclick="next_page('#page-10');">我有量身神奇</a>
        <br><br>
        <a class="btn" href="#" onclick="next_page('#page-20');">我只有一根软尺子</a>
        <br><br>
        <a class="btn" href="#" onclick="next_page('#page-30');">两手空空，啥都没有</a>
      </div>
  	</div>
  	<div class="page" id="page-2">
      <div class="page-title">基础数据</div>
      <div class="page-content">
        <div class="description">
        	<p>先来告诉我们一些你的简单信息吧!</p>
          <p>放心，只要你不告诉别人，我们肯定不说！</p>
        </div>
        <div class="form-controls">
          <div class="form-control">
            <input type="text" name="sex" placeholder="性别"/>
          </div>
        	<div class="form-control">
        	  <input type="number" name="age" placeholder="年龄"/>
        	</div>
        	<div class="form-control">
        	  <input type="number" name="height" placeholder="身高(厘米)"/>
        	</div>
        	<div class="form-control">
        	  <input type="number" name="weight" placeholder="体重(千克)"/>
        	</div>
        </div>
        <a class="btn btn-bottom" href="#" onclick="next_page('#page-3');">填写完毕</a>
    </div>
  	</div>
  	<div class="page" id="page-1" style="display:block;">
      <div class="page-title">求合身</div>
      <div class="page-content">
        <div class="description" style="margin-top: 130px;">
        	<p>加入“合身党”,一起改变我们的穿衣方式!</p>
        	<p>只要你跟着“求合身”测量并记录自己的9个最关键身材数据,你就是改变世界的力量。</p>
        	<p>准备好了?</p>
        </div>
        <a class="btn btn-bottom" href="#" onclick="next_page('#page-2');">准备好啦 ！</a>
    </div>
  	</div>
  </div>
</form>
{% endblock %}

{% block css %}
<style type="text/css">
body { 
  *background: gray;
  *color: rgb(178,178,178);
  background-color: #ECEFF1;
  margin: 0;
  zoom: 100%;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
html, body {
  -webkit-user-select: none;
  user-select: none;
  background: gray;
}
a, img {
  -webkit-touch-callout: none;
}
.pages{
}
.page{
  *background: white;
  background-color: #ECEFF1;
  position: absolute;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 700px;
  top: 0;
  left: 0;
  right: 0; 
  margin-left:auto;
  margin-right:auto;
  display: none;
}
.page-bg{
  background-image: url(/static/bg.png);
  background-size: auto 100%;
  background-repeat:no-repeat;
  background-position:center;
}
.page-title{
  text-align: center;
  background-color: #607D8B;
  color: white;
  line-height: 40px;
  font-size: 20px;
  *font-weight: bold;
  box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
  *border-bottom: 1px;
}
.page-content{
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 8px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
.btn{
  display: block;
  text-align: center;
  background-color: #607D8B;
  color: white;
  line-height: 25px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 80%;
  text-decoration: none;
}
.btn-bottom{
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
}
.btn-left{
  position: absolute;
  bottom: 5%;
  right: 70%;
  width: 20%;
  line-height: 23px;
  background-color: white;
  color: #607D8B;
  border: 1px #607D8B solid;
}
.btn-right{
  position: absolute;
  bottom: 5%;
  left: 32%;
  width: 60%;
}
.form-control input, .form-control select{
  width: 90%;
  line-height: 25px;
  padding: 5px;
  padding-left: 10px;
}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function(global){
  next_page = function(page_id){
  	$(".page").hide();
  	$(page_id).show();
  	$(page_id).css({transform: "translateX(100%)"});
  	$(page_id).transition({transform: "translateX(0%)"},300,'linear');
  };
  pre_page = function(page_id){
  	$(".page").hide();
  	$(page_id).show();
  	$(page_id).css({transform: "translateX(-100%)"});
  	$(page_id).transition({transform: "translateX(0%)"},300,'linear');
  };
});
</script>
{% endblock %}