{% extends "/base.html" %}

{% block title %}
{{info.weixin_name}}-身材表
{% endblock %}

{% block content %}
<style>
.page{ background-image: url("http://7x2vyz.com1.z0.glb.clouddn.com/身材表_背景.png"); background-size: 100%; background-repeat: no-repeat; }
a{ text-decoration: none; }
.page-head{ display: absolute; top: 0; left: 0; width: 100%; height: 28px; background: #FC9251; }
.page-content{ width: 52%; margin-top: 10%; margin-left: auto; margin-right: auto; background: transparent; }
.item-box{ margin-top: 2px; color: white; line-height: 20px; font-size: 18px; font-weight: lighter; }
.item-title{ width: 35%; padding: 2px; margin-left: 10%; text-align: center; display: inline-block; }
.item-value{ width: 40%; padding: 3px; margin-left: 5%; text-align: right; display: inline-block; }
.page-bottom{ width: 100%; margin-top: 5%; background: transparent; }
.head-icon{ position: absolute; left: 50%; margin-left: -18px; width: 36px; margin-top: 5px; }
.head-share{ position: absolute; right: 4%; height: 16px; margin-top: 6px; }
.body-img{ width: 100%; }
.foot-btn{ display: block; margin-left: auto; margin-right: auto; margin-bottom: 5%; width: 20%; z-index: 20; }
.share-box{ position: absolute; top: 0; left: 0; z-index: 9999; width: 100%; height: 120%; background: rgba(0, 0, 0, 0.8); display: none;}
.share-words{ float: right; width: 50%; ; margin-top: 5%; margin-right: 5%;}
</style>
<form method="POST">
  	<div class="page">
      <div class="page-head">
        <img class="head-icon" src="http://7x2vyz.com1.z0.glb.clouddn.com/logo.png"/>
        <img class="head-share" src="http://7x2vyz.com1.z0.glb.clouddn.com/aa纸飞机x.png"/>
      </div>
      {% if g.info and g.info == info %}
      <div class="page-content">
	  <a href="{{url_for('main.base_info')}}">
          <div class="item-box" style="background:#FC6622;">
              <span class="item-title">昵称</span>
              <span class="item-value" style="text-align: center;">{{info.weixin_name or ""}}</span>
          </div>
          <div class="item-box" style="background:#FC6622;">
              <span class="item-title">性别</span>
              <span class="item-value" style="text-align: center;">{{info.sex_name}}</span>
          </div>
           <div class="item-box" style="background:#FC6622;">
              <span class="item-title">身高</span>
              <span class="item-value">{{info.height or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#97040C;">
              <span class="item-title">体重</span>
              <span class="item-value">{{info.weight or ""}} k g</span>
          </div>
	  </a>
	  <a href="{{url_for('main.item_form', item='neck')}}">
           <div class="item-box" style="background:#97040C;">
               <span class="item-title">颈围</span>
              <span class="item-value">{{info.neck or ""}} cm</span>
          </div>
	  </a>
	  <a href="{{url_for('main.item_form', item='chest')}}">
           <div class="item-box" style="background:#B01C10;">
              <span class="item-title">胸围</span>
              <span class="item-value">{{info.chest or ""}} cm</span>
          </div>
	  </a>
	  <a href="{{url_for('main.item_form', item='waist')}}">
           <div class="item-box" style="background:#CA3415;">
              <span class="item-title">腰围</span>
              <span class="item-value">{{info.waist or ""}} cm</span>
          </div>
	  </a>
	  <a href="{{url_for('main.item_form', item='butt')}}">
          <div class="item-box" style="background:#E34D1B;">
              <span class="item-title">臀围</span>
              <span class="item-value">{{info.butt or ""}} cm</span>
          </div>
	  </a>
	  <a href="{{url_for('main.item_form', item='leg_width')}}">
          <div class="item-box" style="background:#FC6621;">
              <span class="item-title">大腿围</span>
              <span class="item-value">{{info.leg_width or ""}} cm</span>
          </div>
	  </a>
	  <a href="{{url_for('main.item_form', item='leg_length')}}">
          <div class="item-box" style="background:#FD7F2D;">
              <span class="item-title">腿长</span>
              <span class="item-value">{{info.leg_length or ""}} cm</span>
          </div>
	  </a>
	  <a href="{{url_for('main.item_form', item='arm_width')}}">
           <div class="item-box" style="background:#FD9840;">
              <span class="item-title">上臂围</span>
              <span class="item-value">{{info.arm_width or ""}} cm</span>
          </div>
	  </a>
	  <a href="{{url_for('main.item_form', item='arm_length')}}">
           <div class="item-box" style="background:#FDB156;">
              <span class="item-title">臂长</span>
              <span class="item-value">{{info.arm_length or ""}} cm</span>
          </div>
	  </a>
	  <a href="{{url_for('main.item_form', item='shoulder')}}">
          <div class="item-box" style="background:#FECB6E;">
              <span class="item-title">肩宽</span>
              <span class="item-value">{{info.shoulder or ""}} cm</span>
          </div>
	  </a>
      </div>
      {% else %}
      <div class="page-content">
          <div class="item-box" style="background:#FC6622;">
              <span class="item-title">昵称</span>
              <span class="item-value" style="text-align: center;">{{info.weixin_name or ""}}</span>
          </div>
          <div class="item-box" style="background:#FC6622;">
              <span class="item-title">性别</span>
              <span class="item-value" style="text-align: center;">{{info.sex_name}}</span>
          </div>
           <div class="item-box" style="background:#FC6622;">
              <span class="item-title">身高</span>
              <span class="item-value">{{info.height or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#97040C;">
              <span class="item-title">体重</span>
              <span class="item-value">{{info.weight or ""}} kg</span>
          </div>
           <div class="item-box" style="background:#97040C;">
               <span class="item-title">颈围</span>
              <span class="item-value">{{info.neck or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#B01C10;">
              <span class="item-title">胸围</span>
              <span class="item-value">{{info.chest or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#CA3415;">
              <span class="item-title">腰围</span>
              <span class="item-value">{{info.waist or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#E34D1B;">
              <span class="item-title">臀围</span>
              <span class="item-value">{{info.butt or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#FC6621;">
              <span class="item-title">大腿围</span>
              <span class="item-value">{{info.leg_width or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#FD7F2D;">
              <span class="item-title">腿长</span>
              <span class="item-value">{{info.leg_length or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#FD9840;">
              <span class="item-title">上臂围</span>
              <span class="item-value">{{info.arm_width or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#FDB156;">
              <span class="item-title">臂长</span>
              <span class="item-value">{{info.arm_length or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#FECB6E;">
              <span class="item-title">肩宽</span>
              <span class="item-value">{{info.shoulder or ""}} cm</span>
          </div>
      </div>
      {% endif %}
      {% if g.info == info %}
      <div class="page-bottom">
        <a href="{{url_for('main.user_compare', weixin_id=info.weixin_id)}}"><img class="foot-btn" src="http://7x2vyz.com1.z0.glb.clouddn.com/魔鬼身材钮.png"/></a>
      </div>
     {% else %}
      <div class="page-bottom">
        <a href="{{url_for('main.slide')}}"><img class="foot-btn" src="http://7x2vyz.com1.z0.glb.clouddn.com/我也要测量.png"/></a>
      </div>
     {% endif %}
    </div>
    <div class="share-box">
      <img class="share-words" src="http://7x2vyz.com1.z0.glb.clouddn.com/aa分享新xx.png"/>
    </div>
</form>
<script>
$(function(){
  $(".head-share").click(function(e){
     $(".share-box").show(); 
  });
  $(".share-box").click(function(e){
     $(".share-box").hide(); 
  });
});
</script>
{% endblock %}
