{% extends "/base.html" %}

{% block title %}
{{info.weixin_name}}-对照表
{% endblock %}

{% block content %}
<form method="POST">
  <div class="pages">
  	<div class="page">
      <div class="page-head">
        <img class="head-icon" src="/static/resources/颈围/logo.png"/>
      </div>
      <div class="page-content">
          <div class="item-box" style="background:#FC6622;">
              <span class="item-title">昵称</span>
              <span class="item-value">{{info.weixin_name or ""}}</span>
          </div>
          <div class="item-box" style="background:#FC6622;">
              <span class="item-title">性别</span>
              <span class="item-value">{{info.sex_name}}</span>
          </div>
           <div class="item-box" style="background:#FC6622;">
              <span class="item-title">身高</span>
              <span class="item-value">{{info.height or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#97040C;">
              <span class="item-title">体重</span>
              <span class="item-value">{{info.weight or ""}} kg</span>
          </div>
           <div class="item-box" style="background:#97040C;">
               <span class="item-title">颈围</span>
              <span class="item-value">{{info.neck or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#B01C10;">
              <span class="item-title">胸围</span>
              <span class="item-value">{{info.chest or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#CA3415;">
              <span class="item-title">腰围</span>
              <span class="item-value">{{info.waist or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#E34D1B;">
              <span class="item-title">臀围</span>
              <span class="item-value">{{info.butt or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#FC6621;">
              <span class="item-title">腿围</span>
              <span class="item-value">{{info.leg_width or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#FD7F2D;">
              <span class="item-title">腿长</span>
              <span class="item-value">{{info.leg_length or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#FD9840;">
              <span class="item-title">臂围</span>
              <span class="item-value">{{info.arm_width or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#FDB156;">
              <span class="item-title">臂长</span>
              <span class="item-value">{{info.arm_length or ""}} cm</span>
          </div>
           <div class="item-box" style="background:#FECB6E;">
              <span class="item-title">肩宽</span>
              <span class="item-value">{{info.shoulder or ""}} cm</span>
          </div>
      </div>
    <div class="page-compare">
          <div class="item-box canshu-box" style="background:#FC6622;">
              <span class="item-title">标准</span>
              <span class="item-title">参数</span>
          </div>
           <div class="item-box" style="background:#084B09;">
              <span class="item-biaozhun">{{info.biaozhun_weight or ""}}</span>
	      {% if info.weight > info.biaozhun_weight %}	
	      <img class="item-jiantou" src="/static/resources/对照表/up箭头.png"/>
              <span class="item-chazhi">{{info.weight - info.biaozhun_weight}}</span>
	      {% elif info.weight < info.biaozhun_weight %}	
	      <img class="item-jiantou" src="/static/resources/对照表/down箭头.png"/>
              <span class="item-chazhi">{{info.biaozhun_weight - info.weight}}</span>
	      {% endif %}	
          </div>
           <div class="item-box" style="background:#0C650E;">
              <span class="item-biaozhun">{{info.biaozhun_neck or ""}}</span>
	      {% if info.neck > info.biaozhun_neck %}	
	      <img class="item-jiantou" src="/static/resources/对照表/up箭头.png"/>
              <span class="item-chazhi">{{info.neck - info.biaozhun_neck}}</span>
	      {% elif info.neck < info.biaozhun_neck %}	
	      <img class="item-jiantou" src="/static/resources/对照表/down箭头.png"/>
              <span class="item-chazhi">{{info.biaozhun_neck - info.neck}}</span>
	      {% endif %}	
          </div>
           <div class="item-box" style="background:#117E13;">
              <span class="item-biaozhun">{{info.biaozhun_chest or ""}}</span>
	      {% if info.chest > info.biaozhun_chest %}	
	      <img class="item-jiantou" src="/static/resources/对照表/up箭头.png"/>
              <span class="item-chazhi">{{info.chest - info.biaozhun_chest}}</span>
	      {% elif info.chest < info.biaozhun_chest %}	
	      <img class="item-jiantou" src="/static/resources/对照表/down箭头.png"/>
              <span class="item-chazhi">{{info.biaozhun_chest - info.chest}}</span>
	      {% endif %}	
          </div>
           <div class="item-box" style="background:#169719;">
              <span class="item-biaozhun">{{info.biaozhun_waist or ""}}</span>
	      {% if info.waist > info.biaozhun_waist %}	
	      <img class="item-jiantou" src="/static/resources/对照表/up箭头.png"/>
              <span class="item-chazhi">{{info.waist - info.biaozhun_waist}}</span>
	      {% elif info.waist < info.biaozhun_waist %}	
	      <img class="item-jiantou" src="/static/resources/对照表/down箭头.png"/>
              <span class="item-chazhi">{{info.biaozhun_waist - info.waist}}</span>
	      {% endif %}	
          </div>
           <div class="item-box" style="background:#26B029;">
              <span class="item-biaozhun">{{info.biaozhun_butt or ""}}</span>
	      {% if info.butt > info.biaozhun_butt %}	
	      <img class="item-jiantou" src="/static/resources/对照表/up箭头.png"/>
              <span class="item-chazhi">{{info.butt - info.biaozhun_butt}}</span>
	      {% elif info.butt < info.biaozhun_butt %}	
	      <img class="item-jiantou" src="/static/resources/对照表/down箭头.png"/>
              <span class="item-chazhi">{{info.biaozhun_butt - info.butt}}</span>
	      {% endif %}	
          </div>
           <div class="item-box" style="background:#3CCA3F;">
              <span class="item-biaozhun">{{info.biaozhun_leg_width or ""}}</span>
	      {% if info.leg_width > info.biaozhun_leg_width %}	
	      <img class="item-jiantou" src="/static/resources/对照表/up箭头.png"/>
              <span class="item-chazhi">{{info.leg_width - info.biaozhun_leg_width}}</span>
	      {% elif info.leg_width < info.biaozhun_leg_width %}	
	      <img class="item-jiantou" src="/static/resources/对照表/down箭头.png"/>
              <span class="item-chazhi">{{info.biaozhun_leg_width - info.leg_width}}</span>
	      {% endif %}	
          </div>
           <div class="item-box" style="background:#54E356;">
              <span class="item-biaozhun">{{info.biaozhun_leg_length or ""}}</span>
	      {% if info.leg_length > info.biaozhun_leg_length %}	
	      <img class="item-jiantou" src="/static/resources/对照表/up箭头.png"/>
              <span class="item-chazhi">{{info.leg_length - info.biaozhun_leg_length}}</span>
	      {% elif info.leg_length < info.biaozhun_leg_length %}	
	      <img class="item-jiantou" src="/static/resources/对照表/down箭头.png"/>
              <span class="item-chazhi">{{info.biaozhun_leg_length - info.leg_length}}</span>
	      {% endif %}	
          </div>
           <div class="item-box" style="background:#6DFD6E;">
              <span class="item-biaozhun">{{info.biaozhun_arm_width or ""}}</span>
	      {% if info.arm_width > info.biaozhun_arm_width %}	
	      <img class="item-jiantou" src="/static/resources/对照表/up箭头.png"/>
              <span class="item-chazhi">{{info.arm_width - info.biaozhun_arm_width}}</span>
	      {% elif info.arm_width < info.biaozhun_arm_width %}	
	      <img class="item-jiantou" src="/static/resources/对照表/down箭头.png"/>
              <span class="item-chazhi">{{info.biaozhun_arm_width - info.arm_width}}</span>
	      {% endif %}	
          </div>
           <div class="item-box" style="background:#9CFD6F;">
              <span class="item-biaozhun">{{info.biaozhun_arm_width or ""}}</span>
	      {% if info.arm_width > info.biaozhun_arm_width %}	
	      <img class="item-jiantou" src="/static/resources/对照表/up箭头.png"/>
              <span class="item-chazhi">{{info.arm_width - info.biaozhun_arm_width}}</span>
	      {% elif info.arm_width < info.biaozhun_arm_width %}	
	      <img class="item-jiantou" src="/static/resources/对照表/down箭头.png"/>
              <span class="item-chazhi">{{info.biaozhun_arm_width - info.arm_width}}</span>
	      {% endif %}	
          </div>
           <div class="item-box" style="background:#CBFB6F;">
              <span class="item-biaozhun">{{info.biaozhun_shoulder or ""}}</span>
	      {% if info.shoulder > info.biaozhun_shoulder %}	
	      <img class="item-jiantou" src="/static/resources/对照表/up箭头.png"/>
              <span class="item-chazhi">{{info.shoulder - info.biaozhun_shoulder}}</span>
	      {% elif info.shoulder < info.biaozhun_shoulder %}	
	      <img class="item-jiantou" src="/static/resources/对照表/down箭头.png"/>
              <span class="item-chazhi">{{info.biaozhun_shoulder - info.shoulder}}</span>
	      {% endif %}	
          </div>
      </div>
      <div class="page-foot">
        <img class="foot-left" src="/static/resources/颈围/left.png"/>
        <img class="foot-right" src="/static/resources/颈围/right.png"/>
        <img class="foot-jietu" src="/static/resources/身材表/截屏键.png"/>
      </div>
  	</div>
  </div>
</form>
<style>
.page{
  background-image: url("/static/resources/身材表/背景.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.page-head{
  display: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: rgba(255, 102, 0, 0.5);
}
.page-content{
  display: inline-block;
  width: 46%;
  margin-top: 20%;
  margin-left: 10%;
  background: transparent;
}
.page-compare{
  display: inline-block;
  width: 28%;
  margin-top: 20%;
  margin-left: 5%;
  background: transparent;
}
.item-box{
  margin-top: 2px;
  color: white;
  line-height: 20px;
  font-size: 18px;
  font-weight: lighter;
}
.page-compare .canshu-box{
  height: 82px;
}
.item-title{
    width: 30%;
    padding: 2px;
    margin-left: 10%;
    text-align: justify;
    display: inline-block;
}
.canshu-box .item-title{
  font-size: 28px;
  line-height: 40px;
}
.item-value{
    width: 40%;
    padding: 3px;
    margin-left: 5%;
    text-align: center;
    display: inline-block;
}
.page-compare .item-biaozhun{
    width: 30%;
    padding: 3px;
    margin-left: 5%;
    text-align: justify;
    display: inline-block;
}
.page-compare .item-jiantou{
    width: 10%;
    margin-left: 5%;
    display: inline-block;
}
.page-compare .item-chazhi{
    width: 20%;
    padding: 3px;
    margin-left: 5%;
    text-align: left;
    display: inline-block;
}
.page-foot{
  display: inline-block;
  float: left;
  width: 100%;
  margin-top: 10%;
  background: transparent;
  display: none;
}
.head-icon{
  position: absolute;
  left: 50%;
  margin-left: -16px;
  width: 32px;
  margin-top: 2px;
}
.head-share{
  position: absolute;
  right: 4%;
  height: 16px;
  margin-top: 2px;
}
.body-img{
  width: 100%;
}
.foot-left, .foot-right{
  display: block;
  width: 6%;
  margin-top: 3%;
}
.foot-left{
  float: left;
  margin-left: 15%;
}
.foot-right{
  float: right;
  margin-right: 15%;
}
.foot-jietu{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  width: 20%;
  z-index: 20;
}
</style>
<script src="/static/js/html2canvas.min.js"></script>
<script src="/static/js/canvas-toBlob.js"></script>
<script src="/static/js/FileSaver.min.js"></script>
<script>
$(function(){
});
</script>
{% endblock %}
